name: Obj Rest Workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Run revive linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
      
      - name: Download Go modules
        run: go mod download

      - name: Install revive
        run: go install github.com/mgechev/revive@v1.12.0

      - name: Run revive
        run: |
          ~/go/bin/revive -formatter friendly -set_exit_status ./...
  test:
    name: Run test
    runs-on: ubuntu-latest
    needs: [lint]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
      
      - name: Download Go modules
        run: go mod download

      - name: Run tests
        run: go test -v ./...